<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Explicitly serve motoserra/index.html
  RewriteRule ^motoserra/?$ motoserra/index.html [L]

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
